<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/configuracion"></ion-back-button>
    </ion-buttons>
    <ion-title>GESTION DE USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-content-paguinas">
  <!-- Contenedor del selector -->
  <div class="selector-container ">
    <ion-button expand="block" class="selector-button" (click)="openSelect()">
      Filtrar por Rol: {{ selectedRoleName || 'Seleccione un Rol' }}
    </ion-button>

    <!-- Selector oculto -->
    <ion-select #roleSelect [(ngModel)]="selectedRole"
      (ionChange)="onRoleChange()" interface="popover">
      <!-- Opción para mostrar todos los roles -->
      <ion-select-option [value]="null">TODOS</ion-select-option>

      <!-- Opciones de roles dinámicas -->
      <ion-select-option *ngFor="let role of roles" [value]="role.rol_id">
        {{ role.rol_nombre }}
      </ion-select-option>
    </ion-select>
  </div>
  <div class="filter-background"></div>

  <ion-grid>
    <!-- Encabezados de la tabla -->
    <ion-row class="table-header ">
      <!-- <ion-col><h2>ID DEL DOCENTE</h2></ion-col> -->
      <ion-col>NOMBRES</ion-col>
      <ion-col>APELLIDOS</ion-col>
      <ion-col>CÉDULA</ion-col>
      <ion-col>EMAIL</ion-col>
      <ion-col>ROL</ion-col>
      <ion-col>ACCIONES</ion-col>
    </ion-row>
    <!-- Filas de la tabla generadas dinámicamente -->
    <ion-row *ngFor="let docente of usuariosByRoles" class="table-row">
      <!-- <ion-col>{{ docente.iduser }}</ion-col> -->
      <ion-col>{{ docente.nombre }}</ion-col>
      <ion-col>{{ docente.apellido }}</ion-col>
      <ion-col>{{ docente.cedula }}</ion-col>
      <ion-col>{{ docente.email }}</ion-col>
      <ion-col>{{ docente.rol_nombre }}</ion-col>
      <ion-col class="action-buttons">
        <ion-button color="warning"
          (click)="editDocente(docente.iduser)">EDITAR</ion-button>
        <ion-button color="danger"
          (click)="deleteDocente(docente.iduser)">ELIMINAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Botón fuera de la tabla -->
</ion-content>
<!--boton flotante-->
<ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addDocente()"
  class="tooltip-container">
  <ion-fab-button> <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <span class="tooltip-text">Click para Registrar un nuevo Docente</span>
</ion-fab>
