<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Nivel Académico</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">CERRAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="form-container">

  <ion-card class="form-card">
    <ion-card-header class="welcome-subtitle">Ingrese los datos del Nivel
      Académico</ion-card-header>
    <ion-item>
      <ion-label position="floating">Nombre del Nivel Académico</ion-label>
      <ion-input [(ngModel)]="nivelAcademico.nivel_descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Selecciona la Jornada</ion-label>
      <ion-select [(ngModel)]="nivelAcademico.jor_id">
        <ion-select-option *ngFor="let jornada of jornadas"
          [value]="jornada.jor_id">
          {{ jornada.jor_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-buttons class="button-group">
      <ion-button class="cancel-button"
        (click)="closeModal()">Cancelar</ion-button>
      <ion-button class="save-button"
        (click)="submitData()">Guardar</ion-button>
    </ion-buttons>
  </ion-card>
</div>
