<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/configuracion"></ion-back-button>
    </ion-buttons>
    <ion-title>GESTION DE ASIGNATURAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-paguinas">
  <ion-grid>
    <ion-row class="table-header">
      <ion-col>NOMBRE</ion-col>
      <ion-col>JORNADA</ion-col>
      <ion-col>NIVEL ACADEMICO</ion-col>
      <ion-col>ACCIONES</ion-col>
    </ion-row>
    <ion-row *ngFor="let asignatura of asignaturasGet" class="table-row">
      <ion-col>{{ asignatura.asig_nombre }}</ion-col>
      <ion-col>{{ asignatura.jornada.jor_nombre }}</ion-col>
      <ion-col>{{ asignatura.nivel_academico.nivel_descripcion }}</ion-col>
      <ion-col class="action-buttons">
        <ion-button color="warning"
          (click)="editAsignatura(asignatura.asig_id)">EDITAR</ion-button>
        <ion-button color="danger" color="danger"
          (click)="deleteAsignatura(asignatura.asig_id)">ELIMINAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--boton flotante-->
<ion-fab slot="fixed" vertical="bottom" horizontal="end"
  (click)="addAsignatura()" class="tooltip-container">
  <ion-fab-button> <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <span class="tooltip-text">Click para Registrar una nueva Asignatura</span>
</ion-fab>