/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

//estilo para centrar el logo de la institucion
.image-center {
  display: flex;
  justify-content: center;
}
//estilos de los botones de registrar y volver atras
.custom-buttonback {
  --background: hsl(210, 4%, 28%);
  --color: #6d9eff;
  --border-radius: 20px;
  --padding: 10px 20px;
}
.custom-buttonregister {
  --background-color: blue;
  //--color: white;
  --border-radius: 20px;
  --padding: 10px 20px;
}

//estilo para la configuarion de inspector y admin
.custom-icon {
  font-size: 2rem; /* Ajusta el tamaño del icono según sea necesario */
  color: var(--ion-color-primary); /* Cambia el color del icono */
  margin-right: 10px; /* Espacio entre el icono y la etiqueta */
  transition: color 0.3s ease; /* Añade una transición suave al color */
}

.custom-label {
  font-size: 1.2rem; /* Ajusta el tamaño de la etiqueta según sea necesario */
  //font-weight: bold; /* Haz que la etiqueta sea negrita */
  color: var(--ion-color-dark); /* Cambia el color del texto */
  transition: color 0.3s ease; /* Añade una transición suave al color */
}

.interactive-item {
  transition: background-color 0.3s ease; /* Añade una transición suave al fondo */
  cursor: pointer; /* Cambia el cursor al pasar por el ítem */
}

.interactive-item:hover {
  background-color: var(
    --ion-color-light
  ); /* Cambia el color de fondo al pasar el puntero */
}

.interactive-item:hover .custom-icon {
  color: var(
    --ion-color-secondary
  ); /* Cambia el color del icono al pasar el puntero */
}

.interactive-item:hover .custom-label {
  color: var(
    --ion-color-secondary
  ); /* Cambia el color de la etiqueta al pasar el puntero */
}

//estilo para el boton flotante de registros
.tooltip-container {
  //position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%; /* Posición del tooltip */
  left: 5%;
  margin-left: -91px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* En la parte inferior del tooltip */
  left: 50%;
  margin-left: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
//barcode-scanning
body.barcode-scannig-active {
  visibility: hidden;
  --background: transparent;
  --ion-backgound-color: transparent;
}
.barcode-scanning-modal {
  visibility: visible;
}
@media (prefers-color-scheme: dark) {
  .barcode-scannig-active {
    visibility: hidden;
    --background: transparent;
    --ion-backgound-color: transparent;
  }
}

ion-content {
  --background: transparent;
}

.square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: 200px;
  height: 200px;
  border: 6px solid white;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

//Estilos para la paguina de login  y para el fondos de paguinas
.welcome-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.welcome-subtitle {
  color: var(--color-secondary);

  text-align: center;
}
.ion-card-header {
  box-shadow: 0px 0px 30px #333334e0;
  border-radius: 15px;
  padding: 20px;
}
//estilo para el fondo de la pagina
@media (max-width: 600px) {
  .ion-content-class {
    border-radius: 0; /* Eliminar bordes en pantallas pequeñas */
    box-shadow: none; /* Evitar sombras excesivas en móviles */
  }
  .ion-content-paguinas {
    border-radius: 0; /* Eliminar bordes en pantallas pequeñas */
    box-shadow: none; /* Evitar sombras excesivas en móviles */
  }
}

.ion-content-class {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  background: linear-gradient(135deg, #3a3132, #0f4571, #386dbd, #3a3132);
  // backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}
.ion-content-paguinas {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  background: linear-gradient(135deg, #495575, #313d5c);
  // backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  //transition: all 0.3s ease-in-out;
}
.button {
  //--background-color: blue;
  --color: white;
  --border-radius: 20px;
  --padding: 10px 20px;
}

//cabecera

.ion-toolbar {
  color: #ffffff; /* Color del texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra sutil en el texto */
}
.ion-title {
  font-size: 1.8rem; /* Tamaño del título */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Alinear el título al centro */
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
}
.ion-subtitle {
  font-size: 1.2rem; /* Tamaño del subtítulo */
  font-weight: bold; /* Texto en negrita */
  text-align: left; /* Alinear el título al centro */
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 0.3px; /* Espaciado entre letras */
}
.table-row {
  border-bottom: 1px solid #ccc;
  background-color: #b5d0e8de;
  color: #000000;
  padding: 10px;
  text-align: center;
}
//Estilos para modal de niveles academicos
/* Contenedor del formulario */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de toda la pantalla */
  padding: 16px;
  box-sizing: border-box;
  //background-color: #f9f9f9; /* Fondo opcional */
}

/* Tarjeta del formulario */
.form-card {
  width: 400px; /* Ancho fijo del formulario */
  max-width: 90%; /* Para pantallas pequeñas */
  padding: 20px;
  border: 2px solid #ccc; /* Borde personalizado */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  //background-color: white; /* Fondo blanco */
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 20px;
}

.cancel-button {
  background-color: #f44336; /* Rojo para cancelar */
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
}

.cancel-button:hover {
  background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}

.save-button {
  background-color: #4caf50; /* Verde para guardar */
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
}

.save-button:hover {
  background-color: #388e3c; /* Color más oscuro al pasar el mouse */
}

/* Estilo responsivo */
@media (max-width: 600px) {
  .form-card {
    width: 100%; /* Aumenta el ancho en pantallas pequeñas */
  }

  .button-group {
    flex-direction: column;
    gap: 10px; /* Espacio entre botones en pantallas pequeñas */
  }

  .cancel-button,
  .save-button {
    width: 100%; /* Botones ocupan todo el ancho */
  }
}
